name: Build & Integration tests

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '*.md'
      - '.github/**'
    branches:
      - main

env:
  XCODE_VERSION: '16.2'

jobs:
  generate-xcode-project:
    uses: ./.github/workflows/generate-xcode-project.yml

  build:
    needs: generate-xcode-project
    runs-on: macos-14-xlarge
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Select Xcode version
        run: sudo xcode-select -s '/Applications/Xcode_${{ env.XCODE_VERSION }}.app/Contents/Developer'

      - name: Download xcode project file
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: output-xcodeproj-file
          path: ./Bucketeer.xcodeproj

      - name: Build
        env:
          CI: true
        run: make build

  build-example:
    needs: generate-xcode-project
    runs-on: macos-14-xlarge
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Select Xcode version
        run: sudo xcode-select -s '/Applications/Xcode_${{ env.XCODE_VERSION }}.app/Contents/Developer'

      - name: Download xcode project file
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: output-xcodeproj-file
          path: ./Bucketeer.xcodeproj

      - name: Download environment file
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
            name: output-environment-file
            path: ./environment.xcconfig

      - name: Build example
        env:
          CI: true
        run: make build-example

  unit-test:
    needs: generate-xcode-project
    runs-on: macos-14-xlarge
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Select Xcode version
        run: sudo xcode-select -s '/Applications/Xcode_${{ env.XCODE_VERSION }}.app/Contents/Developer'

      - name: Download xcode project file
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: output-xcodeproj-file
          path: ./Bucketeer.xcodeproj

      - name: Download environment file
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: output-environment-file
          path: ./environment.xcconfig

      - name: Build for testing
        run: make build-for-testing

      - name: Unit Test
        run: make test-without-building

  e2e-test:
    name: E2E tests
    needs: generate-xcode-project
    uses: ./.github/workflows/e2e.yml
    secrets: inherit
