name: Publish to Cocoapods

on:
  workflow_dispatch:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: macos-14-xlarge
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Install Cocoapods
        run: gem install cocoapods

      - name: Deploy to cocoapods
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
        run: |
          pod trunk push --allow-warnings Bucketeer.podspec
