name: Upload Framework to GitHub

on:
  workflow_dispatch:
  push:
    tags:
      - v*

jobs:
  upload-xcframework:
    runs-on: macos-14-xlarge
    env:
      MINT_PATH: ${{ github.workspace }}/mint/lib
      MINT_LINK_PATH: ${{ github.workspace }}/mint/bin
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Install bootstrap mint
        uses: irgaly/setup-mint@99eaad2ad1197ea872390322a47620da2f21fde4 # v1.4.0
        with:
          bootstrap: true
          use-cache: true

      - name: Create xcframework
        env:
          CI: true
        run: |
            make environment-setup
            mint run xcodegen generate
            make create-xcframework-zip

      - name: Upload Release Framework
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload ${GITHUB_REF#refs/*/} ./FrameworkBuild/Bucketeer.xcframework.zip
